{% extends 'plan/base.html' %}

{% block contact %}

    <header><h1>Home page</h1></header>
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">old_name</th>
        <th scope="col">old_speed</th>
        <th scope="col">old_quota</th>
        <th scope="col">old_price</th>
        <th scope="col">new_name</th>
        <th scope="col">new_speed</th>
        <th scope="col">new_quota</th>
        <th scope="col">new_price</th>
        <th scope="col">No_of_movements</th>
    </tr>
  </thead>
  <tbody>
  {% for data in datas %}
    <tr>
        <th>{{ data.old_plan_name }}</th>
        <th>{{ data.old_plan_speed }}</th>
        <th>{{ data.old_plan_quota }}</th>
        <th>{{ data.old_plan_price }}</th>
        <th>{{ data.new_plan_name }}</th>
        <th>{{ data.new_plan_speed }}</th>
        <th>{{ data.new_plan_quota }}</th>
        <th>{{ data.new_plan_price }}</th>
        <th>{{ data.number_of_movements }}</th>

    </tr>
  {% endfor %}
  </tbody>
</table>

    <div class="jumbotron">

    <a class="btn btn-primary" href="{% url 'plan:upload_csv' %}">page</a>
    <a class="btn btn-dark" href="{% url 'plan:export_csv' %}">download</a>
    <a class="btn btn-danger" href="{% url 'plan:delete_all' %}">delete</a>

    </div>

{% endblock %}