{% extends 'plan/base.html' %}
{% block contact %}
<h1 class="text-capitalize"> the all number of movements {{ as_same }} </h1>

    <div class="jumbotron">
        <p class="text-capitalize">number of customers still in Super plan: <strong>{{ supers }}</strong> </p>
        <p class="text-capitalize">the percentage of number of customers still in Super plan: <strong>{{ super_per }} %</strong></p>
    </div>

    <div class="jumbotron">
        <p class="text-capitalize">number of customers still in Ultra plan: <strong>{{ ultras }}</strong> </p>
        <p class="text-capitalize">the percentage of number of customers still in Ultra plan: <strong>{{ ultra_per }} %</strong></p>
    </div>

    <div class="jumbotron">
        <p class="text-capitalize">number of customers still in mega plan: <strong>{{ megas }}</strong> </p>
        <p class="text-capitalize">the percentage of number of customers still in mega plan: <strong>{{ mega_per }} %</strong></p>
    </div>

{% endblock %}